{% comment %}
    This is the cart's core. Changes to this file will affect both "cart dawers" and "cart page".

    Accepts:
    - location: 'drawer' / 'page'
    - blocks: section.blocks

    Usage:
	{%- render 'c-cart', location: 'drawer' -%}
{% endcomment %}

{%- liquid
    assign cartLocation = location | default: 'page'

    # Cart form id
    assign cartFormId = 'coretex-cart-form'
    # Drawer cart form id
    if cartLocation == 'drawer'
        assign cartFormId = 'coretex-cart-form-drawer'
    endif

    assign showImage = settings.cart_image
    assign showVendor = settings.cart_vendor
    assign showTax = settings.cart_tax
    assign showContinue = settings.cart_continue
    assign showViewCart = settings.cart_viewButton
    assign showExtraButtons = settings.cart_dynamicButtons
    assign showNotes = settings.cart_notes
    assign showPaymentIcons = settings.cart_icons
-%}

{%- comment -%} Title for Cart Page {%- endcomment -%}
{%- if cartLocation == 'page' -%}<h1 class="h1 gs-title" style="margin:0">Cart</h1>{% endif %}

{%- comment -%} The cart component {%- endcomment -%}
<coretex-cart empty="{{ cart.empty? }}" counter="{{ cart.item_count }}" layout="{{ cartLocation }}" data-ajax-cart-section>
{%- # Cart is empty -%}
{%- if cart.empty? -%}
    <section class="empty">
        <x-flex direction="column">
            <h2>{{ 'cart.empty' | t }}</h2>
            <a href="{{ routes.all_products_collection_url }}" class="button is-blank fullwidth">{{ 'cart.continue_shopping' | t }}</a>
        </x-flex>
    </section>
{% else %}

<x-grid columns="3" columns-m="1f" columns-s="1f" class="coretex-cart">

    {%- if settings.cart_free_shipping -%}
        {%- liquid
            assign calculated_total_price = 0

            for line_item in cart.items
              if line_item.requires_shipping
                assign calculated_total_price = calculated_total_price | plus: line_item.final_line_price
              endif
            endfor

            if localization.market.metafields.openthinking.free_shipping_threshold
                assign threshold = localization.market.metafields.openthinking.free_shipping_threshold | times: 100.0
            else 
                # fallback to global setting if market metafield is not set
                assign threshold = settings.cart_free_shipping_threshold | times: 100.0
            endif
            
            if calculated_total_price >= threshold
              assign free_shipping_away = 0
            else
              assign free_shipping_away = threshold | minus: calculated_total_price | money
            endif
        -%}

        <cart-shipping span="row" style="--progressFg: var(--color);--progressBg: {{ settings.color | color_modify: 'alpha', 0.1 }}">        
            {% if calculated_total_price >= threshold %}
                {{ 'cart.free_shipping_ok' | t }}
            {% elsif calculated_total_price < threshold %}
                <span class="text-center">{{ 'cart.free_shipping_away_html' | t: amount: free_shipping_away }}</span>
                <progress max="{{ threshold | round }}" value="{{ calculated_total_price | round }}"></progress>
            {% endif %}
        </cart-shipping>
    {%- endif -%}

    {% comment %}
        # Cart Items
    {% endcomment %}    
    <cart-body x-flex span="2" direction="column" class="cart-items" data-ajax-cart-section-scroll>

        {%- for item in cart.items -%}
        {% assign line_item_index = forloop.index %}
        <cart-item item-number="{{ line_item_index }}" x-grid columns="7" columns-s="4">

            {%- # Image -%}
            {%- if showImage -%}
            <x-cell span="1" span-y-s="1-3" class="image">
                <a href="{{ item.url | escape }}" class="no-style">
                {%- liquid 
                    if item.image

                        assign img = item.image
                        assign alt = item.image.alt | default: item.title
                        assign width = 500
                        assign widths = '100,200,300,500'
                        assign sizes = '(min-width: 777px) 300px, 78.75vw'
                        assign loading = 'lazy'
                        render 'global-img' img: img, width: width, widths: widths, sizes: sizes, loading: loading, alt: alt

                    endif
                -%}
                </a>
            </x-cell>
            {%- endif -%}

            {%- # Meta -%}
            <x-flex direction="column" span="3" class="meta">
                {%- # Vendor -%}
                {%- if showVendor -%}
                <span class="vendor"><a href="{{ item.product.vendor | url_for_vendor }}" class="no-style">{{ item.product.vendor }}</a></span>
                {%- endif -%}

                {%- # Title -%}
                <span class="title"><a href="{{ item.url | escape }}" class="no-style">{{ item.title | escape }}</a></span>

                {%- # Bundle components -%}
                {% if item.item_components.size > 0 %}
                <x-cell>
                    <ul class="product-components smaller"> 
                    {%- for component in item.item_components -%}
                          <li>
                            {{ component.title }}
                            {%- if component.quantity > 1 -%}
                              <span> × {{ component.quantity }}</span>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                    </ul>
                </x-cell>
                {%- endif -%}

                {%- # Selling plans -%}
                {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                    <dl class="properties smaller">
                    {%- for property in item.properties -%}
                        {%- assign property_first_char = property.first | slice: 0 -%}
                        {%- if property.last != blank and property_first_char != '_' -%}
                        <div class="options">
                            <dt>{{ property.first }}:</dt>
                            <dd>
                            {%- if property.last contains '/uploads/' -%}
                                <a href="{{ property.last }}" target="_blank">{{ property.last | split: '/' | last }}</a>
                            {%- else -%}
                                {{ property.last }}
                            {%- endif -%}
                            </dd>
                        </div>
                        {%- endif -%}
                    {%- endfor -%}
                    </dl>

                    {%- if item.selling_plan_allocation != nil -%}
                    <div class="properties">{{ item.selling_plan_allocation.selling_plan.name }}</div>
                    {%- endif -%}
                {%- endif -%}
            </x-flex>

            {% # Price %}
            <x-cell span="2" span-s="2-4" class="price">
                {%- comment -%} Price {%- endcomment -%}
                {%- if item.original_line_price != item.final_line_price -%}
                    <s class="old-price"><small>{{ item.original_line_price | money }}</small></s>
                    <span>{{ item.final_line_price | money }}</span>
                {%- else -%}
                    {{ item.original_line_price | money }}
                {%- endif -%}

                {%- comment -%} Unit price measurement {%- endcomment -%}
                {%- if item.variant.available and item.unit_price_measurement -%}
                <unit-price class="unit-price smaller">
                    <span class="visually-hidden">{{ 'product.unit_price' | t }}</span>
                    {{ item.unit_price | money }}
                    <span aria-hidden="true">/</span>
                    <span class="visually-hidden">&nbsp;{{ 'product.unit_price_separator' | t }}&nbsp;</span>
                    {%- liquid 
                        if item.unit_price_measurement.reference_value != 1
                            echo item.unit_price_measurement.reference_value
                        endif
                        echo item.unit_price_measurement.reference_unit
                    -%}
                </unit-price>
                {%- endif -%}

                {%- comment -%} Line discount {%- endcomment -%}
                <ul class="no-style">
                    {%- for discount in item.line_level_discount_allocations -%}
                    <li>
                        <small class="smaller">
                            <span>{%- render 'global-icon' with 'tag' -%}</span>
                            <span>{{ discount.discount_application.title | escape }}</span>
                        </small>
                    </li>
                    {%- endfor -%}
                </ul>
            </x-cell>

            {%- # Actions -%}
            <x-flex span-s="2-4" ai="start" ai-s="center" jc="around" jc-s="between" wrap="wrap" class="actions">
                <x-cell>
                <ajax-cart-quantity class="qty" x-flex ai="center" jc="around" style="gap:.5rem 1rem">

                        {%- # "Minus one" button -%}
                        <x-cell>
                            <a data-ajax-cart-quantity-minus href="{{ routes.cart_change_url }}?line={{ line_item_index }}&quantity={{ item.quantity | minus: 1 }}"
                                class="button is-blank minus" role="button" aria-label="{{ 'product.quantity.decrease' | t }}">
                                {% render 'global-icon' with 'minus' %}
                            </a>
                        </x-cell>

                        {%- # Item quantity input -%}
                        <x-cell>
                            <input type="number" name="updates[]" 
                                data-ajax-cart-quantity-input="{{ line_item_index }}" 
                                id="coretex-qty-{{ line_item_index }}"
                                class="qtyinput"
                                value="{{ item.quantity }}" 
                                form="{{ cartFormId }}"
                                min="{{ item.variant.quantity_rule.min }}"
                                {% if item.variant.quantity_rule.max != null %}
                                max="{{ item.variant.quantity_rule.max }}"
                                {% endif %}
                                step="{{ item.variant.quantity_rule.increment }}"
                                aria-label="{{ 'product.quantity.qty' | t }}"
                            >
                        </x-cell>

                        {%- # "Plus one" button -%}
                        <x-cell>
                            <a data-ajax-cart-quantity-plus href="{{ routes.cart_change_url }}?line={{ line_item_index }}&quantity={{ item.quantity | plus: 1 }}" 
                                class="button is-blank plus" role="button" aria-label="{{ 'product.quantity.increase' | t }}">
                                {% render 'global-icon' with 'plus' %}
                            </a>
                        </x-cell>

                </ajax-cart-quantity>
            </x-cell>

                {% # "Remove item" button %}
                <remove-item>
                    <a data-ajax-cart-request-button href="{{ item.url_to_remove }}" 
                        class="button is-blank trash" role="button" aria-label="{{ 'cart.remove' | t }}">
                        {% render 'global-icon' with 'trash' %}
                    </a>
                </remove-item>
            </x-flex>
        
            {%- # "Cart quantity line items errors" -%}
            <x-cell data-ajax-cart-errors="{{ item.key }}" span="row"></x-cell>
        </cart-item>
        {% endfor %}

    </cart-body>

    {% comment %}
        # Cart Action
    {% endcomment %}

    <cart-footer>
        <x-flex direction="column" class="gocheckout sticky">

            {% comment %} Total {% endcomment %}
            <x-cell>
                <x-flex jc="between" class="subtotal">
                    <x-cell>{{ 'cart.subtotal' | t }}:</x-cell>
                    <x-cell>
                        <strong>
                            {%- liquid
                                assign displayMoney = cart.total_price | money
                                if settings.currency_code_enabled
                                    assign displayMoney = cart.total_price | money_with_currency
                                endif
            
                                echo displayMoney
                            -%}
                        </strong>
                    </x-cell>
                </x-flex>
            </x-cell>

            {% comment %} Discount {% endcomment %}
            {%- if cart.cart_level_discount_applications.size > 0 -%}
                <x-cell>
                    <ul class="no-style subtotal text-end" role="list" aria-label="{{ 'cart.discount' | t }}">
                        {%- for discount in cart.cart_level_discount_applications -%}
                            <li x-flex jc="between">
                                <x-cell><span>{%- render 'global-icon' with 'tag' -%}</span> <small>{{ discount.title | escape }}</small></x-cell>
                                <x-cell><small>
                                    {%- liquid
                                        assign displayMoney = discount.total_allocated_amount | money
                                        if settings.currency_code_enabled
                                            assign displayMoney = discount.total_allocated_amount | money_with_currency
                                        endif
                    
                                        echo displayMoney | prepend: '-'
                                    -%}
                                </small></x-cell>
                            </li>
                        {%- endfor -%}
                    </ul>
                </x-cell>
            {%- endif -%}

            {%- comment -%} Shipping Taxes notice {%- endcomment -%}
            {%- if showTax -%}
            <x-cell class="shippingtaxes text-center">
                <small>
                    {%- liquid 
                        if cart.duties_included and cart.taxes_included 
                        if shop.shipping_policy.body == blank 
                        echo 'cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t 
                        else 
                        echo 'cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html' | t: link: shop.shipping_policy.url
                        
                        endif 
                    elsif cart.duties_included == false and cart.taxes_included 
                        if shop.shipping_policy.body == blank 
                        echo 'cart.taxes_included_shipping_at_checkout_without_policy' | t 
                        else 
                        echo 'cart.taxes_included_shipping_at_checkout_with_policy_html' | t: link: shop.shipping_policy.url
                        
                        endif 
                    elsif cart.duties_included and cart.taxes_included == false 
                        if shop.shipping_policy.body == blank 
                        echo 'cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t 
                        else 
                        echo 'cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html' | t: link: shop.shipping_policy.url
                        
                        endif 
                    elsif cart.duties_included == false and cart.taxes_included == false 
                        if shop.shipping_policy.body == blank 
                        echo 'cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t 
                        else 
                        echo 'cart.taxes_at_checkout_shipping_at_checkout_with_policy_html' | t: link: shop.shipping_policy.url
                        
                        endif 
                        endif 
                    -%}
                </small>
            </x-cell>
            {%- endif -%}

            {%- if showNotes -%}
            <x-cell class="cart-notes fullwidth js">
                <details data-ajax-cart-details="Cart-Notes" id="Detailss-CartDrawer" class="fullwidth"{% if cartLocation != 'drawer' %} open{% endif %}>
                    <summary class="dropdown-caret button is-blank">{{ 'cart.note' | t }}</summary>
                    <cart-note>
                        <label class="visually-hidden" for="CartDrawer-Note">{{ 'cart.notePlaceholder' | t }}</label>
                        <textarea
                            data-ajax-cart-property-input 
                            name="note" 
                            form="{{ cartFormId }}" 
                            id="CartDrawer-Note"
                            class="fullwidth"
                            placeholder="{{ 'cart.notePlaceholder' | t }}"
                        >{{ cart.note }}</textarea>
                    </cart-note>
                </details>
            </x-cell>
            {%- endif -%}

            <x-cell style="padding:var(--margin)">
                {%- comment -%} Button to checkout {%- endcomment -%}
                {%- form 'cart', cart, id: cartFormId -%}
                    <button 
                        type="submit" 
                        name="checkout" 
                        form="{{ cartFormId }}"
                        id="checkout"
                        class="fullwidth is-primary"
                        {% if cart == empty %}disabled{% endif %}
                    >
                        {{ 'cart.checkout' | t }} &rarr;
                    </button>

                    {%- if showExtraButtons -%}
                    <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                        {{ content_for_additional_checkout_buttons }}
                    </div>
                    {%- endif -%}

                    {%- comment -%} [Drawer] - 'checkbox'{%- endcomment -%}
                    {%- if cartLocation == 'drawer' and settings.cart_termsCheckbox -%}
                        <x-flex style="gap:var(--margin); padding: calc(var(--margin) * 2) var(--margin)" data-ajax-cart-static-element>
                            <input type="checkbox" id="CartFormCheckbox-Dialog" form="{{ cartFormId }}" required>
                            <label for="CartFormCheckbox-Dialog" style="font-weight:100">{{ 'cart.terms_html' | t: link: shop.terms_of_service.url }}</label>
                        </x-flex>
                    {%- endif -%}

                    {%- comment -%} [Cart Page] 'checkbox' Block. {%- endcomment -%}
                    {%- if cartLocation == 'page' -%}
                    {%- for block in blocks -%}
                    {%- if block.type == 'checkbox' -%}
                        <x-flex style="gap:var(--margin); padding: calc(var(--margin) * 2) var(--margin)" data-ajax-cart-static-element>
                            <input type="checkbox" id="CartFormCheckbox-{{ block.id }}" form="{{ cartFormId }}" {% if block.settings.requiredInputCheckbox %}required{% endif %}>
                            <label for="CartFormCheckbox-{{ block.id }}" style="font-weight:100">
                                {%- liquid 
                                    if block.settings.text != empty
                                        echo block.settings.text
                                    else
                                        echo 'cart.terms_html' | t: link: shop.terms_of_service.url
                                    endif 
                                -%}
                            </label>
                        </x-flex>
                    {%- endif -%}
                    {%- endfor -%}
                    {%- endif -%}

                {%- endform -%}

                {%- if cartLocation == 'page' -%}
                    {%- for block in blocks -%}
                        {% case block.type %}
                        {%- when 'app' -%}
                            <x-cell class="itsapp" style="padding:var(--margin)" {{ block.shopify_attributes }}>{%- render block -%}</x-cell>
                        {%- when 'liquid' -%}
                            <section class="itsapp liquid" {{ block.shopify_attributes }}>{{- block.settings.liquid -}}</section>
                        {%- endcase -%}
                    {%- endfor -%}
                {% endif %}

                <x-flex direction="row" jc="between" ai="center" wrap="wrap">
                {%- comment -%} Button to cart {%- endcomment -%}
                {%- if cartLocation == 'drawer' and showViewCart -%}
                    <x-cell><a href="{{ routes.cart_url }}" class="button is-blank fullwidth">{{ 'cart.view' | t }}</a></x-cell>
                {%- endif -%}

                {%- comment -%} Continue shopping {%- endcomment -%}
                {%- if showContinue -%}
                    <x-cell>
                        <a href="{{ routes.all_products_collection_url }}" class="button is-blank fullwidth">{{ 'cart.continue_shopping' | t }}</a>
                    </x-cell>
                {%- endif -%}
                </x-flex>
            </x-cell>

            {%- comment -%} Cart Page 'app' Block. {%- endcomment -%}
            {%- if cartLocation == 'page' -%}
                {%- for block in blocks -%}
                    {%- if block.type == 'app' %}
                        <x-cell class="itsapp" style="padding:var(--margin)">{%- render block -%}</x-cell>
                    {%- endif -%}
                {%- endfor -%}
            {% endif %}  

            {%- comment -%} Payment icons {%- endcomment -%}
            <x-flex direction="row" ai="center" jc="center" style="gap:var(--margin); padding:var(--margin); {% if settings.cart_monoPaymentIcons %}filter:grayscale(1){% endif %}">
                {%- liquid
                    if showPaymentIcons 
                        render 'global-paymenticons'
                    endif 
                -%}
            </x-flex>
        </x-flex>
    </cart-footer>

</x-grid>
      
{%- endif -%}
</coretex-cart>