<slider-component id="GalleryThumbnails-{{ section.id }}{{ id_append }}" class="thumbnail-slider {{ class }}">
<x-flex>
    <x-cell><button type="button" name="previous" data-step="3" class="is-blank">
        {%- render 'global-icon' with 'arrow-left' -%}
        <span class="visually-hidden">{{ 'pagination.previous' | t }}</span>
    </button></x-cell>

    <x-cell span="2">
    <ul id="Slider-Thumbnails-{{ section.id }}{{ id_append }}" 
        class="thumbnail-list no-style scroll-snap scroll-snap-m mandatory align-start" 
        x-flex direction="row">

        {%- comment -%} If selected or first available variant {%- endcomment -%}
        {%- if featured_media != null -%}
            {%- liquid
                capture media_index
                if featured_media.media_type == 'model'
                    increment model_index
                elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video'
                    increment video_index
                elsif featured_media.media_type == 'image'
                    increment image_index
                endif
                endcapture
                assign media_index = media_index | plus: 1
            -%}

            <li id="Slide-Thumbnails-{{ section.id }}-0{{ id_append }}" class="thumbnail-slider__slide {% if hide_variants and variant_images contains media.src %} hide{% endif %}" data-target="{{ section.id }}-{{ featured_media.id }}" data-media-position="{{ media_index }}">

                <button class="thumbnail is-blank">
                {%- liquid 
                    assign id = "Thumbnail-" | append: section.id | append: "-0" | append: id_append 
                    echo featured_media.preview_image | image_url: width: 350 | image_tag: loading: 'lazy', widths: '100, 200, 350', id: id, alt: featured_media.alt | escape
                -%}
                </button>
            </li>
        {%- endif -%}

        {%- comment -%} Give me the loop {%- endcomment-%}
        {%- for media in product.media -%}
        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
        {%- liquid
            capture media_index
            if media.media_type == 'model'
                increment model_index
            elsif media.media_type == 'video' or media.media_type == 'external_video'
                increment video_index
            elsif media.media_type == 'image'
                increment image_index
            endif
            endcapture
            assign media_index = media_index | plus: 1
        -%}
            <li id="Slide-Thumbnails-{{ section.id }}-{{ forloop.index }}{{ id_append }}"
                class="thumbnail-slider__slide"
                data-target="{{ section.id }}-{{ media.id }}"
                data-media-position="{{ media_index }}">

                {%- if media.media_type == 'model' -%}
                    <span class="thumbnail__badge" aria-hidden="true">{% render 'global-icon' with 'model3d' %}</span>
                {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
                    <span class="thumbnail__badge" aria-hidden="true">{% render 'global-icon' with 'play' %}</span>
                {%- endif -%}
        
                <button class="thumbnail is-blank">
                    {%- liquid 
                        assign id = "Thumbnail-" | append: section.id | append: "-" | append: forloop.index | append: id_append
                        echo media.preview_image | image_url: width: 350 | image_tag: loading: 'lazy', widths: '100, 200, 350', id: id, alt: media.alt | escape
                    -%}
                </button>
            </li>
        {%- endunless -%}
        {%- endfor -%}
    </ul>
    </x-cell>

    <x-cell><button type="button" name="next" data-step="3" class="is-blank">
        {%- render 'global-icon' with 'arrow-right' -%}
        <span class="visually-hidden">{{ 'pagination.next' | t }}</span>
    </button></x-cell>
</x-flex>
</slider-component>