{%- comment -%}
    This is a copy of 't-product.liquid' w/ adaptations for sections/homepage.
    For changes: use diffchecker & compare the files.
{%- endcomment -%}

{%- liquid
    render 'inc-stylesheet', src: 'product.css'

    # Assign the featured product
    assign product = all_products[section.settings.featured_product]

    # Page layout
    assign mediaColumnWidth = section.settings.mediaColumnWidth
    if mediaColumnWidth == 'large'
        assign cols = 3
        assign span = 'span="2"'
    elsif mediaColumnWidth == 'small'
        assign cols = 3
        assign spanc = 'span="2"'
    elsif mediaColumnWidth == 'full'
        assign fullMediaWidth = 'full-media-width'
    else 
        assign cols = 2
    endif

    # Pin content section 
    assign pinSection = section.settings.pinSection

    # Product form ID
    assign pfid = 'product-form-' | append: section.id
-%}

{%- if product == empty -%}

<product-info class="product-page featured-product placeholder">
<x-grid columns="{{ cols }}" columns-s="1f" pin-section="{{ pinSection }}" {{ fullMediaWidth }}>
    <x-cell class="ferafive-product-media" order="2" order-s="2" {{ span }} span-s="row">
        {{ 'product-1' | placeholder_svg_tag: 'svg-placeholder banner' }}
    </x-cell>
    
    <x-cell class="ferafive-product-content" span-s="row" order="3" order-s="3">
        <product-content x-flex="" direction="column">
            <section class="title" id="xtitle"><h2>Product title</h2></section>
            <section class="description"><div class="text rte">Select a featured product to display here.</div></section>
            <section>
                <div class="price">
                    <div class="price__container">
                        <div class="price__regular">
                            <span class="price-item price-item--regular">123 EUR</span>
                        </div>
                    </div>
                </div>
            </section>

            <section class="product-form">
                <product-form class="product-form">
                    <button type="submit" name="add" class="cartButton is-outline is-currentcolor"><span class="cta">{{ 'product.addToCart' | t }}</span></button>
                </product-form>
            </section>
        </product-content>
    </x-cell>
</x-grid>
</product-info>

{%- else -%}

<product-info
    class="product-page featured-product"
    id="MainProduct-{{ section.id }}"
    data-section="{{ section.id }}"
    data-product-id="{{ product.id }}"
    data-update-url="false"
    data-url="{{ product.url }}"
>
<x-grid columns="{{ cols }}" columns-s="1f" pin-section="{{ pinSection }}" {{ fullMediaWidth }}>
{%- comment -%} ---------- [ Product media ] ----------- {%- endcomment -%}
    <x-cell class="ferafive-product-media" order="2" order-s="2" {{ span }} span-s="row" data-hide-variant-images="{{ section.settings.hideVariants }}">  
    {%- liquid
        assign first_3d_model = product.media | where: 'media_type', 'model' | first
        if first_3d_model
            echo '<link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css">'
        endif
  
        assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
        render 'product-media-gallery', featured_product: true, product: product, section: section, variant_images: variant_images, imageZoom: section.settings.imageZoom, showThumbnailSlider: section.settings.showThumbnailSlider, mediaLayout: section.settings.mediaLayout, mediaLayoutMob: section.settings.mediaLayoutMob, showSlideCounter: section.settings.showSlideCounter, hideVariantImages: section.settings.hideVariants
    -%}
    </x-cell>

{%- comment -%} ---------- [ Product content ] ----------- {%- endcomment -%}
    <x-cell class="ferafive-product-content" {{ spanc }} span-s="row" order="{{ section.settings.mediaPosition }}" order-s="3" >
    <product-content x-flex direction="column">
    {%- liquid 
        for block in section.blocks
            render 'product-content', product: product, block: block, product_form_id: pfid, featured_product: true
        endfor
    -%}
    </product-content>
    </x-cell>
</x-grid>
</product-info>

<div class="loadmore featprod"><a href="{{ product.url }}" class="no-style">{{ 'product.viewProductFullDetails' | t }}</a></div>

{%- comment -%} --- [ Pop up ] --- {%- endcomment -%}
{%- assign popups = section.blocks | where: "type", "popup" -%}
{%- for block in popups -%}
    <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal">
        <div class="contents" role="dialog" aria-modal="true" tabindex="-1">
            <div span="row" class="modclose text-end sticky"><button id="ModalClose-{{ block.id }}" type="button" class="is-blank times">&times;</button></div>
            <x-grid columns="2" columns-s="1">
                <x-cell><h2 class="h2">{{ block.settings.page.title }}</h2></x-cell>
                <x-cell><div class="rte">{{ block.settings.page.content }}</div></x-cell>
            </x-grid>
        </div>
    </modal-dialog>
{%- endfor -%}

{%- comment -%} --- [ Size chart popup ] --- {%- endcomment -%}
{%- assign block_variant_picker = section.blocks | where: "type", "variant_picker" | first -%}
{%- if block_variant_picker and block_variant_picker.settings.size_chart != blank -%}
    <modal-dialog id="PopupModal-{{ block_variant_picker.id }}" class="product-popup-modal sizeChart">
        <div class="contents" role="dialog" aria-modal="true" tabindex="-1">
            <div span="row" class="modclose text-end sticky">
                <x-flex ai="center" jc="between">
                    <x-cell><h2 class="h2" style="padding-inline:var(--padding);margin:0">{{ block_variant_picker.settings.size_chart.title }}</h2></x-cell>
                    <x-cell><button id="ModalClose-{{ block_variant_picker.id }}" type="button" class="is-blank times">&times;</button></x-cell>
                </x-flex>
            </div>
            <div class="rte">{{ block_variant_picker.settings.size_chart.content }}</div>
       </div>
    </modal-dialog>
{%- endif -%}

{%- comment -%} --- [ 3D model ] --- {%- endcomment -%}
{%- if first_3d_model -%}
<script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
</script>
{%- endif -%}

{%- comment -%} --- [ Product JS ] --- {%- endcomment -%}
<script src="{{ 'product.js' | asset_url }}" defer></script>
{%- endif -%}

{% schema %}
{
  "name": "Featured product",
  "tag": "section",
  "disabled_on": { "groups": ["header", "footer", "aside"] },
  "presets": [
    {
      "name": "Featured product",
      "blocks": [
        { "type": "vendor" },
        { "type": "title" },
        { "type": "subtitle" },
        { "type": "description" },
        { "type": "price" },
        { "type": "variant_picker" },
        { "type": "buy_buttons" }
      ]
    }
  ],
  "settings": [
    {
      "type": "product",
      "id": "featured_product",
      "label": "Product"
    },
    {
        "type": "select",
        "id": "pinSection",
        "label": "Sticky section",
        "info": "On desktop, pin a section to the top while scrolling.",
        "default": "none",
        "options": [
            { "value": "none", "label": "None" }, 
            { "value": "content", "label": "Content" },
            { "value": "media", "label": "Media" }
        ]
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
        "type": "select",
        "id": "mediaColumnWidth",
        "label": "Desktop media size",
        "default": "normal",
        "options": [
            { "value": "small", "label": "One third" },
            { "value": "normal", "label": "One half" },
            { "value": "large", "label": "Two thirds" },
            { "value": "full", "label": "Full width, media first" }
        ]
    },
    {
      "type": "select",
      "id": "mediaPosition",
      "label": "Desktop media position",
      "default": "3",
      "options": [
        {
          "value": "3",
          "label": "Left"
        },
        {
          "value": "1",
          "label": "Right"
        }
     ]
    },
    {
      "type": "select",
      "id": "mediaLayout",
      "label": "Desktop media style",
      "default": "row1",
      "options": [
        { "value": "row1", "label": "One image per row" },
        { "value": "row2", "label": "Two images per row" },
        { "value": "row2full", "label": "Two images per row with full width first image" },
        { "value": "slider", "label": "Slider" }
      ]
    },
    {
      "type": "select",
      "id": "mediaLayoutMob",
      "label": "Mobile media style",
      "default": "row1",
      "options": [
        { "value": "row1", "label": "One image per row" },
        { "value": "slider", "label": "Slider" }
      ]
    },
    {
        "type": "checkbox",
        "id": "showThumbnailSlider",
        "label": "Enable thumbnail slider",
        "info": "When enabled, the slider counter and navigation button are hidden.",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "showSlideCounter",
        "label": "Enable slide counter",
        "default": true
    },
    {
      "type": "checkbox",
      "id": "imageZoom",
      "default": true,
      "label": "Enable image zoom"
    },
    {
      "type": "checkbox",
      "id": "hideVariants",
      "default": false,
      "label": "Hide other variants' media after selecting a variant"
    },
    {
        "type": "checkbox",
        "id": "enable_video_autoplay",
        "label": "Enable video autoplay",
        "info": "Enable self-hosted videos to autoplay.",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "Enable video looping",
        "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_video_controls",
      "label": "Enable video controls",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "separator",
      "name": "Separator"
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "hidePriceSold",
          "label": "Hide on sold out product",
          "default": false
        }
      ]
   },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1
    },
    {
      "type": "inventory",
      "name": "Inventory status",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "inventory_threshold",
          "label": "Low inventory threshold",
          "min": 0,
          "max": 100,
          "step": 1,
          "info": "Choose 0 to always show in stock if available.",
          "default": 10
        },
        {
          "type": "checkbox",
          "id": "show_inventory_quantity",
          "label": "Show inventory count",
          "default": true
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "default": "start",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ]
        }
      ]
    },
    {
      "type": "qty",
      "name": "Quantity selector",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "label",
          "label": "Show quantity heading",
          "default": true
        }
      ]
    },
    {
        "type": "variant_picker",
        "name": "Variant picker",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "picker_type",
            "label": "Style",
            "default": "dropdown",
            "options": [
              {
                "value": "dropdown",
                "label": "Dropdown"
              },
              {
                "value": "button",
                "label": "Pills"
              }
            ]
          },
          {
            "id": "swatch_shape",
            "label": "Swatch",
            "type": "select",
            "info": "Enable [swatches](https://help.shopify.com/en/manual/online-store/themes/theme-structure/theme-settings#options-with-swatches) on product options.",
            "default": "none",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "circle",
                "label": "Circle"
              },
              {
                "value": "square",
                "label": "Square"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "show_text",
            "label": "Show swatch label",
            "default": false
          },
          {
            "type": "header",
            "content": "Size chart",
            "info": "Products that are eligible for size chart function must have a Size option. A size chart button will then appear next to the Size option label."
          },
          {
            "type": "page",
            "id": "size_chart",
            "label": "Size chart page"
          }
        ]
    },
    {
      "type": "product_list",
      "name": "Product list",
      "limit": 3,
      "settings": [
        {
            "type": "paragraph",
            "content": "Additional setup is required to use this block with dynamic products. [Learn more](https://docs.ferafive.com/themes/ferafive/kb/product-siblings/)"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Product List",
            "info": "Displayed if products are available."
        },
        {
            "type": "product_list",
            "id": "product_list",
            "label": "Products"
        },
        {
          "id": "swatch_shape",
          "label": "Swatch",
          "type": "select",
          "default": "square",
          "options": [
            {
              "value": "square",
              "label": "Square"
            },
            {
                "value": "circle",
                "label": "Circle"
            }
          ]
        },
        {
            "type": "select",
            "id": "swatch_crop",
            "label": "Image crop type",
            "default": "cover",
            "options": [
                {
                    "value": "cover",
                    "label": "Wide"
                },
                {
                    "value": "contain",
                    "label": "None"
                }
            ]
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Custom Liquid"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Text block</p>",
          "label": "Text"
        }
      ]
    },
    {
      "type": "subtitle",
      "name": "Subtitle",
      "limit": 1,
      "settings": [
        {
            "type": "paragraph",
            "content": "Make sure you have a \"Product subtitle\" metafield set up for this to work. [Learn more...](https://help.shopify.com/en/manual/metafields/metafield-definitions/adding-standard-metafield-definitions#add-a-standard-definition)"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Description",
          "info": "Used when collapsible description is enabled."
        },
        {
          "type": "checkbox",
          "id": "collapsibleDesc",
          "label": "Enable collapsible description",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "checked",
          "label": "Expand by default",
          "default": false
        }
      ]
    },
    {
      "type": "share",
      "name": "Share buttons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "paymenticons",
      "name": "Payment icons",
      "limit": 1,
      "settings": [
        {
            "type": "paragraph",
            "content": "The payment icons that show in your theme are determined by your store’s [payment settings.](/admin/settings/payments) and the customer’s region and currency. [Learn more...](https://docs.ferafive.com/themes/ferafive/kb/payment-icons/)"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Secure payments:"
        },
        {
          "type": "checkbox",
          "id": "monoPaymentIcons",
          "label": "Monochrome payment icons",
          "default": false
        }
      ]
    },
    {
      "type": "trustbadge",
      "name": "Trust badges",
      "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "label": "Enable dynamic checkout buttons",
          "default": true,
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        },
        {
            "type": "checkbox",
            "id": "show_addtocart_as_primary",
            "label": "Show \"Add to Cart\" as primary button",
            "default": false,
            "info": "Keep the \"Add to Cart\" button styled as primary when dynamic checkout buttons are active."
        },
        {
            "type": "header",
            "content": "Gift cards recipient"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": false,
          "label": "Enable recipient form for gift cards",
          "info": "Allows buyers to send gift cards on a scheduled date along with a personal message. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/add-gift-card-recipient-fields)"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "Collapsible tab",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "info": "Include a heading that explains the content.",
          "label": "Heading",
          "default": "Collapsible tab"
        },
        {
          "type": "checkbox",
          "id": "checked",
          "label": "Expand by default",
          "default": true
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Tab content"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Tab content from page",
          "info": "Use page as tab content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Tab content from image",
          "info": "Use image as tab content"
        }
      ]
    },
    {
      "type": "popup",
      "name": "Pop-up",
      "settings": [
        {
          "type": "text",
          "id": "link_label",
          "default": "Pop-up link text",
          "label": "Link label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "complementary",
      "name": "Complementary products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To select complementary products, add the Search & Discovery app. [Learn more](https://help.shopify.com/manual/online-store/search-and-discovery/product-recommendations)"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Pairs well with"
        },
        {
            "type": "checkbox",
            "id": "checked",
            "label": "Expand by default",
            "default": true
        },
        {
            "type": "select",
            "id": "listStyle",
            "label": "Product style",
            "default": "list",
            "options": [
                { "value": "list", "label": "List" },
                { "value": "cards", "label": "Cards" }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_image",
            "label": "Show image",
            "default": false,
            "info": "Works when 'Product style' is set to 'List'."
        }
      ]
    }
  ]
}
{% endschema %}