{%- liquid
    assign videoId = section.settings.video.id
    assign ratio = '16:9'
    assign title = section.settings.title

	case section.settings.video.type
	when 'youtube'
		assign vendor = 'youtube'
		assign src = 'https://www.youtube.com/embed/'
	when 'vimeo'
		assign vendor = 'vimeo'
		assign src = 'https://vimeo.com/'
	endcase
-%}

{%- if section.settings.image != nil -%}
    {%- capture thumbnail -%}
        {{ section.settings.image | image_url: width: 1500 }}
    {%- endcapture -%}
{%- else -%}
    {%- capture thumbnail -%}
        {%- if vendor == 'youtube' -%}
            https://i.ytimg.com/vi/{{ videoId }}/maxresdefault.jpg
        {%- else -%}
            https://vumbnail.com/{{ videoId }}_large.jpg
        {%- endif -%}
    {%- endcapture -%}
{%- endif -%}

<style>:root{ {% if section.settings.titleHasBg == true %} --videoTitleBg:{{ section.settings.titleBg }};{% endif %} --videoTitleColor:{{ section.settings.titleColor }}; }</style>

{%- if request.design_mode -%}
<style>
.hero-video { position: relative; }
.hero-video.inEditor iframe {
    width: 100vw;
    max-width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    padding: 0;
    margin: 0;
}

.hero-video.inEditor .imgOverlay { 
    position: absolute; 
    inset:0;
    width: 100%;
    height: 100%;
    background-color: var(--bgColor);
    background-image: var(--bgImageThumb);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.hero-video.inEditor .imgOverlay svg { opacity: 0.7 }

.lazyframe .lazyframe__title {
    --hColor: var(--videoTitleColor, var(--color));
    color: var(--videoTitleColor, var(--color));
    font-size: var(--h1Size);
    text-transform: uppercase;
    background: var(--videoTitleBg,transparent);
    width: max-content;
    margin: var(--padding);
    border-radius: calc(var(--radius) / 7);
    padding: var(--margin);
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
}
</style>

<script>function remove(el) { let element = el; element.style.cssText = "display:none" }</script>

<section class="hero-video inEditor lazyframe" style="--bgImageThumb: url({{ thumbnail }})" {{ block.shopify_attributes }}>
    <div class="imgOverlay" onclick="remove(this)">
        <span class="lazyframe__title">{{ title }}</span>
        <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="75" height="75" fill="currentColor"><path d="M23.495 6.205a3.007 3.007 0 0 0-2.088-2.088c-1.87-.501-9.396-.501-9.396-.501s-7.507-.01-9.396.501A3.007 3.007 0 0 0 .527 6.205a31.247 31.247 0 0 0-.522 5.805 31.247 31.247 0 0 0 .522 5.783 3.007 3.007 0 0 0 2.088 2.088c1.868.502 9.396.502 9.396.502s7.506 0 9.396-.502a3.007 3.007 0 0 0 2.088-2.088 31.247 31.247 0 0 0 .5-5.783 31.247 31.247 0 0 0-.5-5.805zM9.609 15.601V8.408l6.264 3.602z"/></svg>
    </div>
    {%- if vendor == 'youtube' -%}
        <iframe src="https://www.youtube.com/embed/{{ videoId }}" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    {%- else -%}
        <iframe src="https://player.vimeo.com/video/{{ videoId }}" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    {%- endif -%}
</section>

{%- else -%}

<section class="hero-video no-js-hidden" {{ block.shopify_attributes }}>
    <div data-vendor="{{ vendor }}" data-src="{{ src }}{{ videoId }}" data-autoplay="true" data-thumbnail="{{ thumbnail }}" data-title="{{ title }}" data-ratio="{{ ratio }}" class="lazyframe" id="vid-{{ videoId }}"></div>
</section>

<noscript>
    <section class="hero-video">
        {%- if vendor == 'youtube' -%}
        <a href="http://youtube.com/watch?v={{ videoId }}">
        {%- else -%}
        <a href="https://vimeo.com/{{ videoId }}">
        {%- endif -%}
            {% # theme-check-disable RemoteAsset %}
            <img src="{{ thumbnail }}" alt="Video" loading="lazy" width="500" height="5000">
            {% # theme-check-enable RemoteAsset %}
        </a>
    </section>
</noscript>

{%- render 'inc-stylesheet', src: 'lazyframe.min.css' -%}
<script type="module" src="{{ 'lazyframe.min.js' | asset_url }}"></script>
<script>document.addEventListener("DOMContentLoaded", (event) => { lazyframe('#vid-{{ videoId }}') });</script>

{%- endif -%}

{% schema %}
{
  "name": "Video",
  "disabled_on": { "groups": ["header", "footer", "aside"] },
  "presets": [
    {
      "name": "Video",
      "category": "Video"
    }
  ],
  "settings": [
    {
        "type": "paragraph",
        "content": "For self-hosted videos use the Hero banner section."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Thumbnail",
      "info": "1280 x 720px recommended"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Share your brand story by adding a video title."
    },
    {
      "type": "video_url",
      "id": "video",
      "label": "URL",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "color",
      "id": "titleColor",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "titleBg",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "titleHasBg",
      "label": "Enable heading background",
      "default": false
    }
  ]
}
{% endschema %}