<section class="press-page">
<x-grid columns="3" columns-s="1">
    {% for block in section.blocks %}
    <x-cell {{ block.shopify_attributes }}>
        {% if block.settings.link != blank %}<a href="{{ block.settings.link }}" class="no-style" rel="nofollow noopener noreferrer" target="_blank">{% endif %}
            <picture>
            {%- assign img = block.settings.image -%}
            {%- if img != nil -%}
                {{ img | image_url: width: 600 | image_tag: widths: '200,400,600', loading: 'lazy', alt: img.alt | escape }}
            {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'svg-imglogolist' }}
            {%- endif -%}
            </picture>
            <div class="meta">{{ block.settings.content }}</div>
        {% if block.settings.link != blank %}</a>{% endif %}
    </x-cell>
    {% endfor %}
</x-grid>
</section>

{% schema %}
{
  "name": "Press coverage",
  "blocks": [
    {
      "type": "logo_image",
      "name": "Magazine",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Quote"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "(Optional)"
        }
      ]
    }
  ]
}
{% endschema %}